* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.form {
  border: 2px dotted orangered;
  padding: 1rem;
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
}

.type-label {
  display: flex;
  justify-content: space-between;
}
